$font-f-C: 'Comfortaa', 'cursive';
$font-f-NS: 'Noto Sans TC', sans-serif;
$font-f-WO: 'Wendy One', sans-serif;
$color: #221E1F;
$link-color: #FFFFFF;
$span-color: #56C4C5;
$font-s-s: 18px;
$font-s-m: 20px;
$font-s-l: 24px;
$font-s-larger: 32px;
$font-w:bold;
$font-w-l:bolder;